@import "tailwindcss";

@theme {
  --font-nunito-sans: 'Nunito Sans', sans-serif;
}

html,
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-x: hidden;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}