@import "tailwindcss";

@theme {
  --font-nunito-sans: 'Nunito Sans', sans-serif;
  --color-dark: hsla(240,10%,8%,1);
  --color-light: hsla(220,10%,82%,1);
  --color-gray: hsla(240,8%,50%,1);
  --color-light-gray: hsla(222,5%,42%,1);
  --color-primary: hsla(196,100%,55%,1);
  --color-danger: hsla(0,92%,40%,1)
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
  }
}

@layer utilities {
  .checkbox-primary:checked {
    background-color: var(--color-primary);
    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.3333 4.5L6 11.8333L2.66667 8.5' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
  }
}

html,
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-x: hidden;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}